/* CSS Document */
/*@charset "UTF-8";*/
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-04-30 17:37:11
 * @version $Id$
 */
 *{
 	margin:0;
 }
#head{
	width: 240px; height: 80px;
	margin-top: 20px;margin-left: 50%;
	transform: translate(-120px,0);
	background-color: #4e00b7;
	background: linear-gradient(to bottom,#4e00b7,#842df0);
	text-align: center;
	line-height: 80px;
	border-radius: 15px;
	color: white;
}
#head span{
	position: absolute;
}
#head #span1{
	display: block;
	width: 120px;height: 8px;
	margin-top: 10px;margin-left: 50%;
	transform: translate(-120px,0);
	background: #842df0;
	border-radius: inherit;
}
#head #span2{
	display: block;
	width: 120px;height: 8px;
	margin-top: 10px;margin-left: 50%;
	background: #842df0;
	border-radius: inherit;
}
#button1{
	width: 160px;height: 40px;
	margin-top: 50px;margin-left: 50%;
	transform: translate(-80px,0);
	border-radius: 12px;
	color: white;
	background: #902df0;
	font-size: 16px;
}
/*#button2{
	width: 160px;height: 40px;
	margin-top: 20px;margin-left: 50%;
	transform: translate(-80px,0);
	border-radius: 12px;
	color: white;
	background: #902df0;
	font-size: 16px;
}*/