/* CSS Document */
@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-11 16:19:09
 * @version $Id$
 */
 /* CSS Document */

*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	background:rgba(51, 84, 135, .05);
}
.wrap{
	width: 250px;height: 350px;
	position: absolute;
	left: 50%;margin-left: -125px;top: 150px;
	border-radius: 8px;
}
.wrap img{
	position: absolute;
	float: left;
	perspective: 600px;
	backface-visibility: hidden;
	border-radius: inherit;
}
.wrap img#pic1{
	z-index: 999;
	transform: rotateY(0);
	transition: all 1s;
}
.wrap img#pic2{
	z-index: 1;
	transform: rotateY(-180deg);
	transition: all 1s;
}
.wrap:hover img#pic1{
	transform: rotateY(180deg);
	transition: all 1s;
	z-index: 2;
}
.wrap:hover img#pic2{
	transform: rotateY(0);
	transition: all 1s;
	z-index: 1000;
}