/* CSS Document */
@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-14 10:10:20
 * @version $Id$
 */
*{
	margin: 0;padding: 0;border: 0;
}
body{
	background: rgba(0, 0, 0, .1);
}
.wrap{
	width: 400px;height: 400px;
	position: absolute;
	left: 50%;
	margin-top:120px; margin-left: -200px;
	perspective: 800px;
	backface-visibility: hidden;
}
.wrap .container{
	width: 400px;height: 400px;
	transform-style: preserve-3d;
}
.wrap .container div{
	width: 400px;height: 400px;
	background: rgba(93, 51, 204, .4);
	position: absolute;
	float: left;
	overflow: hidden;
	border: 1px solid #5400cc;
}
.wrap .container div:nth-child(1){
	transform: rotateY(0deg) translateZ(200px);
}
.wrap .container div:nth-child(2){
	transform: rotateY(90deg) translateZ(200px);
}
.wrap .container div:nth-child(3){
	transform: rotateY(180deg) translateZ(200px);
}
.wrap .container div:nth-child(4){
	transform: rotateY(270deg) translateZ(200px);
}
.wrap .container div:nth-child(5){
	transform: rotateX(90deg) translateZ(200px);
}
.wrap .container div:nth-child(6){
	transform: rotateX(-90deg) translateZ(200px);
}
.wrap .container:hover{
	animation: myrotate 8s linear infinite;
}
@keyframes myrotate{
	0%{transform: rotateY(0deg);}
	25%{transform: rotateY(90deg);}
	50%{transform: rotateY(180deg);}
	75%{transform: rotateY(270deg);}
	100%{transform: rotateY(360deg);}
}